@charset "utf-8";

li {
  margin-top: 0px;
  margin-bottom: 0px;
}
.items {
  display: inline-block;
  font-size: 30px;
  padding: 0px;
  height: 0px;
  width: 400x;
  font-weight: bold;
}

.items2 {
  display: inline-block;
  height: 400;
  margin-left: 50px;
  margin-right: 100px;
}

.App-head {
  background-color: #95addd;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.items3 {
  margin-top: 10px;
}

.search {
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 540px;
  
}
.search input[type="text"]{
  background: #ccddf5;
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search input[type="submit"]{
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  outline : none;
  height: 2.2em;
}
.search ::-webkit-input-placeholder {
  color: #3879D9;
}



